.version.spectral_fitting_module /* version checker */
{
	color: #00001D;
	background-color: #C3F440;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1366px;
	min-height: 235px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 593px;
	margin-left: auto;
	margin-right: auto;
}

#u2731
{
	z-index: 4;
	width: 276px;
	top: 62px;
	left: 50%;
	margin-left: -652px;
}

#u2731_img
{
	padding-right: 2px;
}

#menuu2170
{
	z-index: 6;
	width: 276px;
	top: 205px;
	left: 50%;
	margin-left: -651px;
}

#u2544
{
	width: 276px;
}

#u2545
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u2545:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2546-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
}

#u2545:hover #u2546-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2545:active #u2546-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2174
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u2174:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2177-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
}

#u2545.MuseMenuActive #u2546-4,#u2174:hover #u2177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2174:active #u2177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2179
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u2179:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2181-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
}

#u2174.MuseMenuActive #u2177-4,#u2179:hover #u2181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2179:active #u2181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2188
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u2188:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2191-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
}

#u2179.MuseMenuActive #u2181-4,#u2188:hover #u2191-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2188:active #u2191-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2193
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u2193:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2195-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
}

#u2188.MuseMenuActive #u2191-4,#u2193:hover #u2195-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2193:active #u2195-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2202
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u2202:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2204-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
}

#u2193.MuseMenuActive #u2195-4,#u2202:hover #u2204-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2202:active #u2204-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2207
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u2207:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2209-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
}

#u2202.MuseMenuActive #u2204-4,#u2207:hover #u2209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2207:active #u2209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2214
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u2214:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2216-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
}

#u2207.MuseMenuActive #u2209-4,#u2214:hover #u2216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2214:active #u2216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2223
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u2223:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2224-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
}

#u2214.MuseMenuActive #u2216-4,#u2223:hover #u2224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2223:active #u2224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2228
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u2228:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2230-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
}

#u2223.MuseMenuActive #u2224-4,#u2228:hover #u2230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2228:active #u2230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2235
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u2235:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2236-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
}

#u2228.MuseMenuActive #u2230-4,#u2235:hover #u2236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2235:active #u2236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2244
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 22px;
	margin-right: -10000px;
}

#u2244:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2245-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
}

#u2235.MuseMenuActive #u2236-4,#u2244:hover #u2245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2244:active #u2245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2171,#u2178,#u2185,#u2192,#u2199,#u2206,#u2213,#u2220,#u2227,#u2234,#u2241,#u2248
{
	width: 276px;
	margin-top: 2px;
}

#u2249
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 22px;
	margin-right: -10000px;
}

#u2249:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2545.MuseMenuActive,#u2174.MuseMenuActive,#u2179.MuseMenuActive,#u2188.MuseMenuActive,#u2193.MuseMenuActive,#u2202.MuseMenuActive,#u2207.MuseMenuActive,#u2214.MuseMenuActive,#u2223.MuseMenuActive,#u2228.MuseMenuActive,#u2235.MuseMenuActive,#u2244.MuseMenuActive,#u2249.MuseMenuActive
{
	width: 274px;
	min-height: 15px;
	margin: 0px -10000px 0px 0px;
}

#u2251-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
}

#u2244.MuseMenuActive #u2245-4,#u2249:hover #u2251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2249:active #u2251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2249.MuseMenuActive #u2251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2729
{
	z-index: 2;
	width: 1092px;
	top: 36px;
	left: 50%;
	margin-left: -409px;
}

#u2729_clip
{
	width: 1092px;
	height: 775px;
}

#u2729_img
{
	margin-top: -9px;
	margin-right: -13px;
}

#u3594
{
	z-index: 1161;
	width: 1010px;
	height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: #5476A4;
	border-radius: 10px;
	position: fixed;
	top: -3px;
	left: 50%;
	margin-left: -206px;
}

#accordionu3207
{
	z-index: 85;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 484px;
}

#u3269
{
	z-index: 86;
	width: 928px;
	background-color: transparent;
	position: relative;
}

#u3270-4
{
	z-index: 87;
	width: 916px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u3270-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 916px;
	margin: 0px;
}

#u3270-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 916px;
	margin: 0px;
}

#u3270-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u3270-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u3271
{
	z-index: 91;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
}

#u3272-133
{
	z-index: 92;
	width: 818px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u3298
{
	z-index: 98;
	width: 653px;
	background-color: transparent;
}

#u3272-4,#u3272-5
{
	font-size: 13px;
	line-height: 18px;
	color: #999999;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u3272-65,#u3272-68,#u3272-86,#u3272-87,#u3272-90,#u3272-91,#u3272-94
{
	padding-left: 34px;
}

#u3208
{
	z-index: 228;
	width: 928px;
	background-color: transparent;
	position: relative;
}

#u3209-4
{
	z-index: 229;
	width: 916px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u3209-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 916px;
	margin: 0px;
}

#u3209-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 916px;
	margin: 0px;
}

#u3209-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u3209-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u3210
{
	z-index: 233;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 7px;
	position: relative;
}

#u3211-531
{
	z-index: 234;
	width: 818px;
	min-height: 544px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u3211-26
{
	font-weight: normal;
	font-style: normal;
}

#u3211-27
{
	text-decoration: underline;
	font-weight: bold;
	font-style: italic;
}

#u3211-29,#u3211-30,#u3211-32
{
	font-weight: normal;
}

#u3211-33
{
	text-decoration: none;
	font-weight: normal;
}

#u3317
{
	z-index: 274;
	width: 526px;
	background-color: transparent;
}

#u3331
{
	z-index: 376;
	width: 708px;
	background-color: transparent;
}

#u3211-203,#u3211-205,#u3211-207,#u3211-209,#u3211-211,#u3211-213,#u3211-215,#u3211-217,#u3211-219,#u3211-221,#u3211-223,#u3211-225,#u3211-227
{
	text-align: left;
	padding-left: 100px;
}

#u3970
{
	z-index: 497;
	width: 710px;
	background-color: transparent;
}

#u3983
{
	z-index: 509;
	width: 613px;
	background-color: transparent;
}

#u3211-40,#u3211-140,#u3211-257,#u3211-266,#u3211-267
{
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
}

#u3220
{
	z-index: 777;
	width: 928px;
	background-color: transparent;
	position: relative;
}

#u3221-4
{
	z-index: 778;
	width: 916px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u3221-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 916px;
	margin: 0px;
}

#u3221-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 916px;
	margin: 0px;
}

#u3221-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u3221-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u3222
{
	z-index: 782;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u3223-223
{
	z-index: 783;
	width: 818px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u4020
{
	z-index: 796;
	width: 719px;
	background-color: transparent;
}

#u3211-178,#u3211-179,#u3211-182,#u3211-230,#u3211-237,#u3211-238,#u3211-241,#u3211-242,#u3211-244,#u3211-246,#u3211-248,#u3223-22,#u3223-25,#u3223-28,#u3223-40,#u3223-43,#u3223-46,#u3223-49,#u3223-52,#u3223-55,#u3223-58
{
	padding-left: 38px;
}

#u3272-28,#u3272-40,#u3272-48,#u3272-50,#u3272-57,#u3272-99,#u3272-104,#u3272-106,#u3272-113,#u3223-4,#u3223-16,#u3223-64,#u3223-144
{
	text-decoration: underline;
}

#u3212
{
	z-index: 1009;
	width: 928px;
	background-color: transparent;
	position: relative;
}

#u3215-4
{
	z-index: 1010;
	width: 916px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u3215-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 916px;
	margin: 0px;
}

#u3215-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 916px;
	margin: 0px;
}

#u3270-4.AccordionPanelTabOpen,#u3209-4.AccordionPanelTabOpen,#u3221-4.AccordionPanelTabOpen,#u3215-4.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 16px;
	width: 918px;
	margin: 0px;
}

#u3215-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u3215-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u3270-4.AccordionPanelTabOpen p,#u3209-4.AccordionPanelTabOpen p,#u3221-4.AccordionPanelTabOpen p,#u3215-4.AccordionPanelTabOpen p
{
	color: #F15A24;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
}

#u3213
{
	z-index: 1014;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3214-140
{
	z-index: 1015;
	width: 818px;
	min-height: 382px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#u4033
{
	z-index: 1021;
	width: 646px;
	background-color: transparent;
}

#u3272-24,#u3272-26,#u3272-33,#u3272-38,#u3272-46,#u3211-43,#u3211-91,#u3211-95,#u3211-291,#u3211-293,#u3211-298,#u3211-300,#u3211-305,#u3211-347,#u3223-14,#u3223-131,#u3223-133,#u3223-154,#u3223-208,#u3214-7,#u3214-9,#u3214-14,#u3214-20,#u3214-25,#u3214-27
{
	font-style: italic;
}

#u3272,#u3211-35,#u3211-252,#u3211-261,#u3223-8,#u3214,#u3214-49
{
	font-size: 1px;
	line-height: 0px;
}

#u4046
{
	z-index: 1072;
	width: 640px;
	background-color: transparent;
}

#u3298_img,#u3317_img,#u3331_img,#u3970_img,#u3983_img,#u4020_img,#u4033_img,#u4046_img
{
	vertical-align: bottom;
}

#u3214-74,#u3214-76,#u3214-78,#u3214-80,#u3214-82,#u3214-84,#u3214-86,#u3214-88,#u3214-90,#u3214-92,#u3214-94,#u3214-96,#u3214-98,#u3214-101
{
	padding-left: 50px;
}

#u3272-63,#u3272-66,#u3272-84,#u3272-88,#u3272-92,#u3211-90,#u3211-118,#u3211-122,#u3211-126,#u3211-176,#u3211-180,#u3211-186,#u3211-189,#u3211-193,#u3211-196,#u3211-235,#u3211-239,#u3211-390,#u3211-419,#u3211-446,#u3211-520,#u3223-20,#u3223-23,#u3223-26,#u3223-38,#u3223-70,#u3223-75,#u3223-80,#u3223-85,#u3223-92,#u3223-99,#u3223-104,#u3223-109,#u3223-116,#u3223-120,#u3223-125,#u3223-137,#u3223-142,#u3223-158,#u3223-163,#u3223-168,#u3223-173,#u3223-178,#u3223-183,#u3223-188,#u3223-193,#u3223-197,#u3223-200,#u3223-201,#u3214-18,#u3214-31,#u3214-34,#u3214-37,#u3214-40,#u3214-45,#u3214-57,#u3214-61,#u3214-65,#u3214-69,#u3214-107,#u3214-111,#u3214-115,#u3214-120,#u3214-125
{
	font-weight: bold;
}

#menuu3595
{
	z-index: 1162;
	width: 845px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -194px;
}

#u3603
{
	width: 88px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3604
{
	width: 88px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u3604.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u3607-4
{
	width: 47px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 20px;
}

#u3604:hover #u3607-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u3604:active #u3607-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u3604.MuseMenuActive #u3607-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u3604:hover #u3607-4 p
{
	color: #84C8E6;
	visibility: inherit;
	font-weight: normal;
}

#u3604:active #u3607-4 p
{
	color: #2CCACA;
	visibility: inherit;
	font-weight: normal;
}

#u3638
{
	width: 115px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u3639
{
	width: 115px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u3639.MuseMenuActive
{
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u3642-4
{
	width: 74px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 20px;
}

#u3639:hover #u3642-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u3639:active #u3642-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u3639.MuseMenuActive #u3642-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u3639:hover #u3642-4 p
{
	color: #84C8E6;
	visibility: inherit;
	font-weight: normal;
}

#u3639:active #u3642-4 p
{
	color: #2CCACA;
	visibility: inherit;
	font-weight: normal;
}

#u3596
{
	width: 109px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 203px;
}

#u3597
{
	width: 109px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u3597.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u3598-4
{
	width: 69px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 20px;
}

#u3597:hover #u3598-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u3597:active #u3598-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u3597.MuseMenuActive #u3598-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u3597:hover #u3598-4 p
{
	color: #84C8E6;
	visibility: inherit;
	font-weight: normal;
}

#u3597:active #u3598-4 p
{
	color: #2CCACA;
	visibility: inherit;
	font-weight: normal;
}

#u3631
{
	width: 162px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u3632
{
	width: 162px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u3632.MuseMenuActive
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u3634-4
{
	width: 122px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 20px;
}

#u3632:hover #u3634-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u3632:active #u3634-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u3632.MuseMenuActive #u3634-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 122px;
	margin: 0px -10000px 0px 0px;
}

#u3632:hover #u3634-4 p
{
	color: #84C8E6;
	visibility: inherit;
	font-weight: normal;
}

#u3632:active #u3634-4 p
{
	color: #2CCACA;
	visibility: inherit;
	font-weight: normal;
}

#u3610
{
	width: 166px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 474px;
}

#u3611
{
	width: 166px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u3611.MuseMenuActive
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u3612-4
{
	width: 126px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 20px;
}

#u3611:hover #u3612-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u3611:active #u3612-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u3611.MuseMenuActive #u3612-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u3611:hover #u3612-4 p
{
	color: #84C8E6;
	visibility: inherit;
	font-weight: normal;
}

#u3611:active #u3612-4 p
{
	color: #2CCACA;
	visibility: inherit;
	font-weight: normal;
}

#u3617
{
	width: 128px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 640px;
}

#u3618
{
	width: 128px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u3618.MuseMenuActive
{
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u3621-4
{
	width: 88px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 20px;
}

#u3618:hover #u3621-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u3618:active #u3621-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u3618.MuseMenuActive #u3621-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u3618:hover #u3621-4 p
{
	color: #84C8E6;
	visibility: inherit;
	font-weight: normal;
}

#u3618:active #u3621-4 p
{
	color: #2CCACA;
	visibility: inherit;
	font-weight: normal;
}

#u3624
{
	width: 77px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 768px;
}

#u3627
{
	width: 77px;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u3627.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u3629-4
{
	width: 37px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 20px;
}

#u3627:hover #u3629-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u3627:active #u3629-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u3627.MuseMenuActive #u3629-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u3627:hover #u3629-4 p
{
	color: #84C8E6;
	visibility: inherit;
	font-weight: normal;
}

#u3627:active #u3629-4 p
{
	color: #2CCACA;
	visibility: inherit;
	font-weight: normal;
}

#u3604.MuseMenuActive #u3607-4 p,#u3639.MuseMenuActive #u3642-4 p,#u3597.MuseMenuActive #u3598-4 p,#u3632.MuseMenuActive #u3634-4 p,#u3611.MuseMenuActive #u3612-4 p,#u3618.MuseMenuActive #u3621-4 p,#u3627.MuseMenuActive #u3629-4 p
{
	color: #F7931E;
	visibility: inherit;
}

.AccordionPanelTab,.MenuItem /* accordion */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 1366px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

