.version.wavescan_time_series /* version checker */
{
	color: #0000E9;
	background-color: #7155DC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1366px;
	min-height: 730px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 98px;
	margin-left: auto;
	margin-right: auto;
}

#u2731
{
	z-index: 4;
	width: 276px;
	top: 62px;
	left: 50%;
	margin-left: -652px;
}

#u2731_img
{
	padding-right: 2px;
}

#menuu2170
{
	z-index: 6;
	width: 276px;
	top: 205px;
	left: 50%;
	margin-left: -651px;
}

#u2544
{
	width: 276px;
}

#u2545
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u2545:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2546-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2545:hover #u2546-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2545:active #u2546-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2174
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u2174:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2177-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2545.MuseMenuActive #u2546-4,#u2174:hover #u2177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2174:active #u2177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2179
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u2179:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2181-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2174.MuseMenuActive #u2177-4,#u2179:hover #u2181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2179:active #u2181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2188
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u2188:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2191-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2179.MuseMenuActive #u2181-4,#u2188:hover #u2191-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2188:active #u2191-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2193
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u2193:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2195-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2188.MuseMenuActive #u2191-4,#u2193:hover #u2195-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2193:active #u2195-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2202
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u2202:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2204-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2193.MuseMenuActive #u2195-4,#u2202:hover #u2204-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2202:active #u2204-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2207
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u2207:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2209-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2202.MuseMenuActive #u2204-4,#u2207:hover #u2209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2207:active #u2209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2214
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u2214:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2216-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2207.MuseMenuActive #u2209-4,#u2214:hover #u2216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2214:active #u2216-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2223
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u2223:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2224-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2214.MuseMenuActive #u2216-4,#u2223:hover #u2224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2223:active #u2224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2228
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u2228:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2230-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2223.MuseMenuActive #u2224-4,#u2228:hover #u2230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2228:active #u2230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2235
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u2235:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2236-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2228.MuseMenuActive #u2230-4,#u2235:hover #u2236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2235:active #u2236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u4370
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u4370:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4372-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2235.MuseMenuActive #u2236-4,#u4370:hover #u4372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u4370:active #u4372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2244
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u2244:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2245-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u4370.MuseMenuActive #u4372-4,#u2244:hover #u2245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2244:active #u2245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2171,#u2178,#u2185,#u2192,#u2199,#u2206,#u2213,#u2220,#u2227,#u2234,#u4369,#u2241,#u2248
{
	width: 276px;
	margin-top: 2px;
}

#u2249
{
	width: 276px;
	min-height: 17px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u2249:active
{
	width: 276px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2545.MuseMenuActive,#u2174.MuseMenuActive,#u2179.MuseMenuActive,#u2188.MuseMenuActive,#u2193.MuseMenuActive,#u2202.MuseMenuActive,#u2207.MuseMenuActive,#u2214.MuseMenuActive,#u2223.MuseMenuActive,#u2228.MuseMenuActive,#u2235.MuseMenuActive,#u4370.MuseMenuActive,#u2244.MuseMenuActive,#u2249.MuseMenuActive
{
	width: 274px;
	min-height: 15px;
	margin: 0px -10000px 0px 0px;
}

#u2251-4
{
	width: 276px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2244.MuseMenuActive #u2245-4,#u2249:hover #u2251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2249:active #u2251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2249.MuseMenuActive #u2251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 276px;
	margin: 0px -10000px 0px 0px;
}

#u2729
{
	z-index: 2;
	width: 1092px;
	top: 36px;
	left: 50%;
	margin-left: -409px;
}

#u2729_clip
{
	width: 1092px;
	height: 775px;
}

#u2729_img
{
	margin-top: -9px;
	margin-right: -13px;
	margin-bottom: 16px;
}

#accordionu7197
{
	z-index: 91;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 484px;
}

#u7266
{
	z-index: 92;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7269-4
{
	z-index: 93;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7269-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7269-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7269-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7269-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7267
{
	z-index: 97;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
}

#u7268-30
{
	z-index: 98;
	width: 818px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7202
{
	z-index: 128;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7203-4
{
	z-index: 129;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7203-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7203-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7203-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7203-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7204
{
	z-index: 133;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7205-29
{
	z-index: 134;
	width: 818px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7226
{
	z-index: 163;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7227-4
{
	z-index: 164;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7227-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7227-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7227-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7227-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7228
{
	z-index: 168;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7229-175
{
	z-index: 169;
	width: 818px;
	min-height: 66px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7229-73 > li:before
{
	content: '○';
}

#u7229-73 > #u7229-66:before,#u7229-73 > #u7229-67:before,#u7229-73 > #u7229-69:before,#u7229-73 > #u7229-70:before,#u7229-73 > #u7229-72:before
{
	margin-right: -4px;
}

#u7229-73.rtl-list > #u7229-66:before,#u7229-73.rtl-list > #u7229-67:before,#u7229-73.rtl-list > #u7229-69:before,#u7229-73.rtl-list > #u7229-70:before,#u7229-73.rtl-list > #u7229-72:before
{
	margin-right: 0px;
	margin-left: -4px;
}

#u7229-152,#u7229-154,#u7229-156,#u7229-158,#u7229-160,#u7229-162
{
	line-height: 17px;
}

#u7230
{
	z-index: 344;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7231-4
{
	z-index: 345;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7231-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7231-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7231-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7231-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7232
{
	z-index: 349;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7233-60
{
	z-index: 350;
	width: 818px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7218
{
	z-index: 410;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7219-4
{
	z-index: 411;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7219-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7219-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7219-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7219-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7220
{
	z-index: 415;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7221-92
{
	z-index: 416;
	width: 818px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7221-27
{
	counter-reset: list0;
}

#u7221-27 > li:before
{
	counter-increment: list0;
	content:  counter(list0, decimal) '.';
}

#u7221-27 .list1
{
	counter-reset: list1;
}

#u7221-27 .list1 > li:before
{
	counter-increment: list1;
	content:  counter(list1, lower-alpha) '.';
}

#u7221-27 .list2
{
	counter-reset: list2;
}

#u7221-27 .list2 > li:before
{
	counter-increment: list2;
	content:  counter(list2, lower-roman) '.';
}

#u7221-27 .list3
{
	counter-reset: list3;
}

#u7221-27 .list3 > li:before
{
	counter-increment: list3;
	content:  counter(list3, decimal) '.';
}

#u7221-27 .list4
{
	counter-reset: list4;
}

#u7221-27 .list4 > li:before
{
	counter-increment: list4;
	content:  counter(list4, lower-alpha) '.';
}

#u7221-27 .list5
{
	counter-reset: list5;
}

#u7221-27 .list5 > li:before
{
	counter-increment: list5;
	content:  counter(list5, lower-roman) '.';
}

#u7221-27 .list6
{
	counter-reset: list6;
}

#u7221-27 .list6 > li:before
{
	counter-increment: list6;
	content:  counter(list6, decimal) '.';
}

#u7221-27 .list7
{
	counter-reset: list7;
}

#u7221-27 .list7 > li:before
{
	counter-increment: list7;
	content:  counter(list7, lower-alpha) '.';
}

#u7221-27 .list8
{
	counter-reset: list8;
}

#u7221-27 .list8 > li:before
{
	counter-increment: list8;
	content:  counter(list8, lower-roman) '.';
}

#u7214
{
	z-index: 508;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7215-4
{
	z-index: 509;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7215-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7215-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7215-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7215-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7216
{
	z-index: 513;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u7217-252
{
	z-index: 514;
	width: 818px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7254
{
	z-index: 766;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7257-4
{
	z-index: 767;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7257-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7257-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7257-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7257-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7255
{
	z-index: 771;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7256-38
{
	z-index: 772;
	width: 818px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7258
{
	z-index: 810;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7259-4
{
	z-index: 811;
	width: 845px;
	min-height: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7259-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 12px;
	width: 845px;
	margin: 0px;
}

#u7259-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 12px;
	width: 845px;
	margin: 0px;
}

#u7259-4.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 847px;
	margin: 0px;
}

#u7259-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7259-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7260
{
	z-index: 815;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7261-130
{
	z-index: 816;
	width: 818px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7234
{
	z-index: 946;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7235-4
{
	z-index: 947;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7235-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7235-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7235-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7235-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7236
{
	z-index: 951;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7237-37
{
	z-index: 952;
	width: 818px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7242
{
	z-index: 989;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7243-4
{
	z-index: 990;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7243-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7243-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7243-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7243-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7244
{
	z-index: 994;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
}

#u7245-62
{
	z-index: 995;
	width: 818px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7210
{
	z-index: 1057;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7211-4
{
	z-index: 1058;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7211-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7211-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7211-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7211-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7212
{
	z-index: 1062;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7213-37
{
	z-index: 1063;
	width: 818px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7222
{
	z-index: 1100;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7223-4
{
	z-index: 1101;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7223-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7223-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7223-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7223-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7224
{
	z-index: 1105;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7225-101
{
	z-index: 1106;
	width: 818px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7198
{
	z-index: 1207;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7199-4
{
	z-index: 1208;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7199-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7199-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7199-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7199-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7200
{
	z-index: 1212;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u7201-39
{
	z-index: 1213;
	width: 818px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7238
{
	z-index: 1252;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7241-4
{
	z-index: 1253;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7241-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7241-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7241-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7241-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7239
{
	z-index: 1257;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7240-19
{
	z-index: 1258;
	width: 818px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7262
{
	z-index: 1277;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7265-4
{
	z-index: 1278;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7265-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7265-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7265-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7265-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7263
{
	z-index: 1282;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 26px;
	position: relative;
}

#u7264-57
{
	z-index: 1283;
	width: 818px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7246
{
	z-index: 1340;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7249-4
{
	z-index: 1341;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7249-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7249-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7249-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7249-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7247
{
	z-index: 1345;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u7248-148
{
	z-index: 1346;
	width: 818px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7233-33,#u7233-50,#u7221-83,#u7225-82,#u7248-34,#u7248-45,#u7248-54,#u7248-63,#u7248-72,#u7248-81
{
	font-style: italic;
}

#u7248-127
{
	color: #ED1C24;
}

#u7250
{
	z-index: 1494;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7251-4
{
	z-index: 1495;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7251-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7251-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7251-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7251-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7252
{
	z-index: 1499;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7253-448
{
	z-index: 1500;
	width: 818px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7229-43,#u7229-146,#u7237-14,#u7213-14,#u7225-9,#u7264-24,#u7264-35,#u7248-32,#u7248-90,#u7248-114,#u7248-125,#u7253-41
{
	font-weight: bold;
}

#u7206
{
	z-index: 1948;
	width: 857px;
	background-color: transparent;
	position: relative;
}

#u7207-4
{
	z-index: 1949;
	width: 845px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #366196;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u7207-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #B0CFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7207-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 845px;
	margin: 0px;
}

#u7269-4.AccordionPanelTabOpen,#u7203-4.AccordionPanelTabOpen,#u7227-4.AccordionPanelTabOpen,#u7231-4.AccordionPanelTabOpen,#u7219-4.AccordionPanelTabOpen,#u7215-4.AccordionPanelTabOpen,#u7257-4.AccordionPanelTabOpen,#u7235-4.AccordionPanelTabOpen,#u7243-4.AccordionPanelTabOpen,#u7211-4.AccordionPanelTabOpen,#u7223-4.AccordionPanelTabOpen,#u7199-4.AccordionPanelTabOpen,#u7241-4.AccordionPanelTabOpen,#u7265-4.AccordionPanelTabOpen,#u7249-4.AccordionPanelTabOpen,#u7251-4.AccordionPanelTabOpen,#u7207-4.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 16px;
	width: 847px;
	margin: 0px;
}

#u7207-4:hover p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7207-4:active p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u7269-4.AccordionPanelTabOpen p,#u7203-4.AccordionPanelTabOpen p,#u7227-4.AccordionPanelTabOpen p,#u7231-4.AccordionPanelTabOpen p,#u7219-4.AccordionPanelTabOpen p,#u7215-4.AccordionPanelTabOpen p,#u7257-4.AccordionPanelTabOpen p,#u7259-4.AccordionPanelTabOpen p,#u7235-4.AccordionPanelTabOpen p,#u7243-4.AccordionPanelTabOpen p,#u7211-4.AccordionPanelTabOpen p,#u7223-4.AccordionPanelTabOpen p,#u7199-4.AccordionPanelTabOpen p,#u7241-4.AccordionPanelTabOpen p,#u7265-4.AccordionPanelTabOpen p,#u7249-4.AccordionPanelTabOpen p,#u7251-4.AccordionPanelTabOpen p,#u7207-4.AccordionPanelTabOpen p
{
	color: #F15A24;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
}

#u7208
{
	z-index: 1953;
	width: 857px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7209-49
{
	z-index: 1954;
	width: 818px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u7229-170,#u7233-55,#u7221-3,#u7221-11,#u7221-13,#u7217-247,#u7245-58,#u7225-96,#u7248-4,#u7248-14,#u7253-4,#u7253-6,#u7253-11,#u7253-13,#u7253-18,#u7253-43,#u7253-45,#u7253-442,#u7209-44
{
	text-decoration: underline;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 1366px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

